@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/Poppins-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: bold;
  src: url('./assets/fonts/Poppins-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: semibold;
  src: url('./assets/fonts/Poppins-SemiBold.otf') format('opentype');
}

.form-group {
  border-color: transparent;
}

.form-group:focus-within {
  border-color: var(--cust-green);
}